<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/white_logo.jpg}">


    <title>Error 500</title>
</head>
<body>

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<header class="w3-container w3-xlarge">
    <p class="w3-left">
        <a th:href="@{/}" class="w3-bar-cart w3-button ">RTClothing</a>
    </p>
    <p class="w3-right">
        <a th:href="@{/}" class="w3-bar-item w3-button">HOME</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a>
    </p>
</header>
<div class="w3-container w3-red w3-center w3-allerta w3-bar w3-xlarge"  >
    <p class="w3-xxlarge">ERROR</p>
</div>

<div class="w3-container w3-bar w3-xxlarge w3-center w3-panel" >
    <h1>  <b>The server has encountered error while processing the request</b> </h1>
</div>


<div class="w3-container w3-black w3-center w3-bar w3-bottom w3-large w3-hide-small" style="height: 70px" >
    &copy Copyright of Tai Thanh Le <br> Enterprise Application Development
</div>
</body>

</html>