<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/white_logo.jpg}">

    <title>Log in</title>
</head>
<style>
    .logo {
        width: 150px;
        height: 150px;
    }
</style>
<body>

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<header class="w3-container w3-xlarge w3-display-container">
    <p class="w3-left">
        <a th:href="@{/}"><img th:src="@{images/white_logo.jpg}" class="w3-image logo"></a>
    </p>
    <p class="w3-display-right">
        <a th:href="@{/}" class="w3-bar-item w3-button">HOME</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a>
    </p>
</header>
<div class="w3-container w3-black w3-center w3-allerta w3-bar w3-xlarge"  >
    <p class="w3-xxlarge">LOG IN</p>
</div>

    <div class="w3-card-4" style="margin-left: 20%; margin-right: 20%; margin-top: 30px; ">
        <div class="w3-panel w3-red" th:if="${message != null }">
            <h3>Error</h3>
            <p>Incorrect username/password or your account has been disabled by admin. Please contact the administrator for further information</p>
        </div>
        <form class="w3-container" th:action="@{/login}" method="post" style=" padding-bottom: 150px; padding-left: 50px; padding-right: 50px">
            <p>
                <label class="w3-text-black"><b>Username</b></label>
                <input class="w3-input w3-border w3-white" name="username" type="text" required minlength="4" maxlength="28"></p>
            <p>
            <p>
                <label class="w3-text-black"><b>Password</b></label>
                <input class="w3-input w3-border w3-white" name="password" type="password" required minlength="5" maxlength="12"></p>
            <p>
            <div class="w3-center">
                <button class="w3-btn w3-teal w3-large w3-bordered w3-center w3-margin" >Submit</button>

                <a th:href="@{/register}" class="w3-btn w3-green w3-large w3-bordered w3-center">Register</a>
           </div>
        </form>

</div>

<div class="w3-container w3-black w3-center w3-bar w3-bottom w3-large w3-hide-small" style="height: 70px" >
    &copy Copyright of Tai Thanh Le <br> Enterprise Application Development
</div>
</body>

</html>